<footer class="text-white bg-dark" style="background-color: #7D9D9C !important;margin: 0;"></footer>
    <footer class="text-white bg-dark" style="background-color: #7D9D9C !important;margin: 0;">
        <div class="container py-4 py-lg-5 mt-5">
            <div class="row justify-content-center" style="color: black !important;">
                <div class="col-lg-3 col-xl-3 text-center text-lg-start d-flex flex-column align-items-center order-first align-items-lg-start order-lg-last item social">
                    <div class="fw-bold d-flex align-items-center mb-2"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center bs-icon me-2" style="background-color: #7D9D9C;"><img src="../../static/images/aaa.svg" alt=""></span><span>Hakkımızda</span></div>
                    <p class="text-muted copyright" style="color: black !important;">Yapmış olduğumuz web sitesinin amacı; Öğrencilerin ders videolarını izlemesi, yapamadığı ya da yanlış yaptığı sınav sorularını videolu çözümlerini izlemeleri ve daha birçok şeye erişmeleridir.<br></p>
                </div>
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-6 text-white" style="color: black !important;">Kategoriler</h3>
                    <ul class="list-unstyled">
                        <li>Dersler</li>
                        <li>Alanlarımız</li>
                        <li>Rehberlik Servisi</li>
                        <li>Sosyal Etkinlikler</li>
                        <li>Sportif Başarılarımız</li>
                        <li>Kadromuz</li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-6 text-white" style="color: black !important;">Ana Sayfa</h3>
                    <ul class="list-unstyled">
                        <li>Haberler</li>
                        <li><a class="link-light text-decoration-none" href="#" style="color: black;">Duyurular</a></li>
                        <li><a class="link-light text-decoration-none" href="#" style="color: black;">Bağlantılar</a></li>
                        <li>İletişim</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0" style="color: black;">Telif Hakkı © 2017 Tüm Hakları <a href="https://hhy.meb.k12.tr/
                    " class="text-dark"> Handan Hayrettin Yelikanat'a</a>  Aittir.</p>
                <ul class="list-inline mb-0" style="color: black;">
                    <li class="list-inline-item"><a href=""><img src="../../static/images/phone.svg" alt=""></a></li>
                    <li class="list-inline-item"><a href=""><img src="../../static/images/twitter.svg" alt=""></a></li>
                    <li class="list-inline-item"><a href=""><img src="../../static/images/instagram.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </footer>