{% extends "layout.html" %}

{% block title %}
Sportif Başarılarımız
{% endblock title %}

{% block body %}
<section>
    <div style="height: 600px;background: url(../static/images/sportif.jpg) center / cover;"></div>
    <div class="container h-100 position-relative" style="top: -50px;">
        <div class="row gy-5 gy-lg-0 row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col">
                <div class="card">
                    <div class="card-body pt-5 p-4">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;background-color: #7D9D9C;"><img src="../static/images/futboll.svg" style="width:30px;"></div>
                        <h4 class="card-title">2017-2018 Spor Kulübü</h4>
                    </div>
                    <div class="card-footer p-4 py-3"><a href="#" class="btn btn-primary" type="button" style="background-color: #576F72;border-color: #576F72;">Başarıları Gör</a></div> <!-- Buradaki hreften linki verin.-->
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body pt-5 p-4">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;background-color: #7D9D9C;"><img src="../static/images/tennis.svg" style="width:30px;"></div>
                        <h4 class="card-title">2019-2020</h4>
                    </div>
                    <div class="card-footer p-4 py-3">
                        <div class="btn-group"><button class="btn btn-primary" type="button" style="background-color: #576F72;border-color: #576F72;">Başarıları Gör</button><button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" type="button" style="background-color: #576F72;border-color: #7D9D9C;z-index: 2;"></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Akademi Türkiye Kürek Şampiyonası Birinciliği</a> <!-- Buradaki hreften linki verin.-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body pt-5 p-4">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;background-color: #7D9D9C;"><img src="../static/images/basketbol.svg" style="width: 30px;;"></div>
                        <h4 class="card-title">2020-2021</h4>
                    </div>
                    <div class="card-footer p-4 py-3">
                        <div class="btn-group"><button class="btn btn-primary" type="button" style="background-color: #576F72;border-color: #576F72;">Başarıları Gör</button><button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" type="button" style="background-color: #576F72;border-color: #7D9D9C;"></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">İstanbul Gençler Boks Şampiyonası İl İkinciliği</a> 
                                <a class="dropdown-item" href="#">Yakan Top Erkekler İlçe Birinciliği</a>
                                <a class="dropdown-item" href="#">Voleybol Kızlar İlçe İkinciliği</a>
                                <a class="dropdown-item" href="#">Yakan Top Kızlar İlçe Dördüncülüğü</a>
                                <a class="dropdown-item" href="#">Erkek Kros Takımı İlçe Üçüncülüğü</a>
                                <a class="dropdown-item" href="#">Kız Kros Takımı İlçe Dördüncülüğü</a><!-- Buradaki hreften linki verin.-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}