{% extends "layout.html" %}

{% block title %}
Alanlarımız
{% endblock title %}

{% block body %}
<br><br><br><br><br>
<div class="container py-4 py-xl-5">
    <div class="row gy-4 gy-md-0">
        <div class="col-md-6">
            <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover shadow-lg" style="min-height: 300px;" src="{{ url_for('static', filename='images/bilisim-bolumunun-dallari-ve-meslekleri-fotograflar-1-gelgez-700x420.jpg') }}"></div>
        </div>
        <div class="col-md-6 d-md-flex align-items-md-center">
            <div style="max-width: 350px;">
                <h2 class="text-uppercase fw-bold">BİLİŞİM TEKNOJİLERİ BÖLÜMÜ</h2>
                <p class="my-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis illum expedita numquam culpa dolor laboriosam, exercitationem soluta animi perspiciatis vel, vitae inventore? Obcaecati accusamus provident suscipit corrupti vitae sequi nemo?</p>
            </div>
        </div>
    </div>
</div>
<div class="container py-4 py-xl-5">
    <div class="row gy-4 gy-md-0">
        <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
            <div style="max-width: 350px;">
                <h2 class="text-uppercase fw-bold">Web programcILIĞI</h2>
                <p class="my-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt perferendis animi unde eveniet molestias eos magnam fugiat, consequuntur rerum nam odit maiores, doloremque vitae odio sequi nesciunt debitis. Obcaecati, nam!</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover shadow-lg" style="min-height: 300px;" src="{{ url_for('static', filename='images/MTYwYTNhNzBlNjQ4ZGU.jpg') }}"></div>
        </div>
    </div>
</div>
<div class="container py-4 py-xl-5">
    <div class="row gy-4 gy-md-0">
        <div class="col-md-6">
            <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover shadow-lg" style="min-height: 300px;" src="{{ url_for('static', filename='images/kodlama5.jpg') }}"></div>
        </div>
        <div class="col-md-6 d-md-flex align-items-md-center">
            <div style="max-width: 350px;">
                <h2 class="text-uppercase fw-bold">İŞ YERİ AÇMA BELGESİ</h2>
                <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae vero quis sequi error aliquam tempora eius facere eligendi nesciunt inventore? Facilis minus dolore distinctio quis accusantium ipsa. Fugiat, dolor temporibus!</p>
            </div>
        </div>
    </div>
</div>
<div class="container py-4 py-xl-5">
    <div class="row gy-4 gy-md-0">
        <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
            <div style="max-width: 350px;">
                <h2 class="text-uppercase fw-bold">ELEKTRİK ELEKTRONİK BÖLÜMÜ</h2>
                <p class="my-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolore, culpa ullam cum quo illo, error repellendus unde sint sed accusamus a! Ea error quam unde exercitationem? Quo, id beatae!</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover shadow-lg" style="min-height: 300px;" src="{{ url_for('static', filename='images/elektrik.jpg') }}"></div>
        </div>
    </div>
</div>
<div class="container py-4 py-xl-5">
    <div class="row gy-4 gy-md-0">
        <div class="col-md-6">
            <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover shadow-lg" style="min-height: 300px;" src="{{ url_for('static', filename='images/endustriyelbakimonarim.png') }}"></div>
        </div>
        <div class="col-md-6 d-md-flex align-items-md-center">
            <div style="max-width: 350px;">
                <h2 class="text-uppercase fw-bold">endüstRİYEL BAKIM VE ONARIM</h2>
                <p class="my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla suscipit laboriosam sapiente optio? Error eius necessitatibus, commodi corporis quisquam, in asperiores voluptatibus neque aspernatur eos tenetur recusandae sapiente hic alias.</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}