{% extends "layout.html" %}

{% block title %}
Rehberlik Servisimiz
{% endblock title %}

{% block body %}
<section>
    <div data-bss-parallax-bg="true" style="height: 600px;background-image: url(../static/images/rehberlik2.jpg);background-position:center; background-size:cover;"> <!-- Yukarıda url yazan yerde images kısmına fotoğraf atıp kullanabilirsiniz.-->
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
<section class="py-4 py-xl-5">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center text-center">
                <div>
                    <h2 class="text-uppercase fw-bold mb-3 text-center">REHBERLİK SERVİSİ</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container py-4 py-xl-5">
    <div class="row">
        <div class="col-md-8 col-xl-6 mx-auto p-4">
            <div class="d-flex align-items-center align-items-md-start align-items-xl-center" style="display: block;">
                <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center me-4 d-inline-block bs-icon xl" style="background-color: #7D9D9C;"><img src="../static/images/book.svg" style="width:40px; color:white;"></div>
                <div>
                    <h4>Verimli ders çalışma yöntemleri</h4>
                    <p>Etkili ve verimli ders çalışma bir öğrenciyi başarıya götürecek en önemli faktörlerden biridir. Her öğrencinin bir diğerinden farklı olduğu...</p>

                    <a href="#" class="btn btn-primary" type="button" style="float: right;background: #576F72;border-color: #576F72;">Daha fazla oku</a> <!-- Href kısmına linki koyacaksınız.-->
                </div>
            </div>
            <hr class="my-5">
            <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center me-4 d-inline-block bs-icon xl" style="background-color: #576F72;"><img src="../static/images/pen.svg" style="width: 40px;"></div>
                <div>
                    <h4>Mesleğim Hayatım Portalı</h4>
                    <p>Meslek lisesi öğrencilerine uluslar arası ödül, meslek lisesi öğrencileri elektrikli formula 1 aracı üretti...</p>
                    <a href="#" class="btn btn-primary" type="button" style="float: right;background: #576F72;border-color: #576F72;">Daha fazla oku</a> <!-- Href kısmına linki koyacaksınız.-->
                </div>
            </div>
            <hr class="my-5">
            <div class="d-flex align-items-center align-items-md-start align-items-xl-center" style="display: block;">
                <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center me-4 d-inline-block bs-icon xl" style="background-color: #7D9D9C;"><img src="../static/images/book.svg" style="width:40px; color:white;"></div>
                <div>
                    <h4>Ergeni Takdir ve Eleştirmen Gücü</h4>
                    <p>Verdiğiniz linke ulaşılmıyor. Buraya özet geçebilirsiniz. Özet satırı kaplarsa daha iyi olur.</p>
                    <a href="#" class="btn btn-primary" type="button" style="float: right;background: #576F72;border-color: #576F72;">Daha fazla oku</a> <!-- Href kısmına linki koyacaksınız.-->
                </div>
            </div>
            <hr class="my-5">
        </div>
        <div class="col-md-8 col-xl-6 mx-auto p-4">
            <div class="d-flex align-items-center align-items-md-start align-items-xl-center" style="display: block;">
                <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center me-4 d-inline-block bs-icon xl" style="background-color: #576F72;"><img src="../static/images/pen.svg" style="width: 40px;"></div>
                <div>
                    <h4>Otizm: Hastalık Değil, Farklılık</h4>
                    <p>Otizm hastalık değil, farklılıktır. Benim yanımda ol. Farkındalık demek; bilmek, olduğu gibi görmek anlayışlı bir tutum geliştirmek demek. Siz de otizmi fark edin, görmezden gelmeyin!</p>
                    <a href="#" class="btn btn-primary" type="button" style="float: right;background: #576F72;border-color: #576F72;">Daha fazla oku</a> <!-- Href kısmına linki koyacaksınız.-->
                </div>
            </div>
            <hr class="my-5">
            <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center me-4 d-inline-block bs-icon xl" style="background-color: #7D9D9C;"><img src="../static/images/book.svg" style="width:40px; color:white;"></div>
                <div>
                    <h4>Mesleki Eğitim</h4>
                    <p>Mesleki eğitim; toplumsal hayatın her alanında ihtiyaç duyulan mesleklerde kalifiye teknik elemanlar yetiştirilmesi için gerekli bilgi ve...</p>
                    <a href="#" class="btn btn-primary" type="button" style="float: right;background: #576F72;border-color: #576F72;">Daha fazla oku</a> <!-- Href kısmına linki koyacaksınız.-->
                </div>
            </div>
            <hr class="my-5">
        </div>
    </div>
</div>
{% endblock body %}