{% extends "layout.html" %}

{% block title %}

{% endblock title %}

{% block body %}
<section>
    <div data-bss-parallax-bg="true" style="height: 600px;background-image: url(../static/images/alanlarımız.jpg);background-position:center; background-size:cover;"> <!-- Yukarıda url yazan yerde images kısmına fotoğraf atıp kullanabilirsiniz.-->
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br>
<section class="photo-gallery py-4 py-xl-5">
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0" style="display: flex;justify-content: center;">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center" style="display: flex !important;flex-direction: column;">
                <h1>Sosyal Etkinlikler | Fotoğraflar</h1>
            </div>
        </div>
        <section class="photo-gallery py-4 py-xl-5">
            <div class="container mt-5">
                <div class="row gx-2 gy-2 row-cols-1 row-cols-md-2 row-cols-xl-3 photos" data-bss-baguettebox="">

                    {% if pictures %}

                        {% for picture in pictures%}

                            <div class="col-item p-3">
                                <div class="border p-2 bg-dark text-light rounded" style="background-color:#7D9D9C !important;">
                                    <a href="{{ url_for('static', filename= picture.path) }}" target="_blank">
                                        <img src="{{ url_for('static', filename= picture.path) }}" class="img-fluid img-thumbnail shadow-lg border" style="border-radius:2px;width:380px !important; height:200px">
                                    </a>
                                    
                                    <h3 class="mt-2 ps-2">{{picture.title}}</h3>
                                </div>
                            </div>

                        {% endfor %}
                    {% else %}
                        <div class='alert alert-warning'>Her hangi bir fotoğraf bulunmuyor...</div>
                    {% endif %}
                
                </div>
            </div>
        </section>
    </div>
</section>
{% endblock body %}