{% extends "layout.html" %}

{% block title %}

{% endblock title %}

{% block body %}
<section>
    <div data-bss-parallax-bg="true" style="height: 600px;background-image: url(../static/images/alanlarımız.jpg);background-position:center; background-size:cover;"> <!-- Yukarıda url yazan yerde images kısmına fotoğraf atıp kullanabilirsiniz.-->
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br>
<div class="container text-center" style="display:flex; justify-content:center; align-items:center; flex-direction:column;">
    <h2>Sosyal Etkinlikler</h2>
    <p class="pt-3">Okuldaki sosyal etkinler ile ilgili resimlere ve videolara aşağıdaki butonlardan ulabilirsiniz.</p>
    <br><br>
    <div>
        <a href="/socialevents/videos" class="btn btn-dark p-3 mx-3" style="width:150px; background-color:#576F72; border-color:#576F72;">Videoları Gör</a>
        <a href="/socialevents/pictures" class="btn btn-dark p-3 mx-3" style="width:150px; background-color:#576F72; border-color:#576F72;">Resimleri Gör</a>
    </div>
    

</div>

{% endblock body %}