{% extends "layout.html" %}

{% block title %}
Kadromuz
{% endblock title %}

{% block body %}
<div data-bss-parallax-bg="true" style="height: 600px;background-image: url(../static/images/kadro.jpg);background-position: center;background-size: cover; width: 100%;">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
            </div>
        </div>
    </div>
</div>
<div class="container py-4 py-xl-5">
    <div class="row mb-4 mb-lg-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Kadromuz</h2>
        </div>
    </div>
    <div class="row gy-4 row-cols-2 row-cols-md-4">
        <div class="col">
            <div class="card border-0 shadow-none p-3">
                <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <h5 class="fw-bold text-primary card-title mb-0" style="color: black !important;">Öğretmen Adı</h5>
                    <p class="text-muted card-text mb-2">Branşı</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 shadow-none p-3">
                <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <h5 class="fw-bold text-primary card-title mb-0" style="color: black !important;"><strong>Öğretmen Adı</strong><br></h5>
                    <p class="text-muted card-text mb-2">Bilişim Uzmanı</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 shadow-none p-3">
                <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <h5 class="fw-bold text-primary card-title mb-0" style="color: black !important;"><strong>Öğretmen Adı</strong><br></h5>
                    <p class="text-muted card-text mb-2">Branşı<br></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 shadow-none p-3">
                <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <h5 class="fw-bold text-primary card-title mb-0" style="color: black !important;"><strong>Öğretmen Adı</strong><br></h5>
                    <p class="text-muted card-text mb-2">Branşı<br></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 shadow-none p-3">
                <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <h5 class="fw-bold text-primary card-title mb-0" style="color: black !important;"><strong>Öğretmen Adı</strong><br></h5>
                    <p class="text-muted card-text mb-2">Branşı<br></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 shadow-none p-3">
                <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <h5 class="fw-bold text-primary card-title mb-0" style="color: black !important;"><strong>Öğretmen Adı</strong><br></h5>
                    <p class="text-muted card-text mb-2">Branşı<br></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 shadow-none p-3">
                <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <h5 class="fw-bold text-primary card-title mb-0" style="color: black !important;"><strong>Öğretmen Adı</strong><br></h5>
                    <p class="text-muted card-text mb-2">Branşı<br></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 shadow-none p-3">
                <div class="card-body text-center d-flex flex-column align-items-center p-0"><img class="rounded-circle mb-3 fit-cover" width="130" height="130" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <h5 class="fw-bold text-primary card-title mb-0" style="color: black !important;"><strong>Öğretmen Adı</strong><br></h5>
                    <p class="text-muted card-text mb-2">Branşı<br></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 shadow-none"></div>
        </div>
        <div class="col">
            <div class="card border-0 shadow-none"></div>
        </div>
        <div class="col">
            <div class="card border-0 shadow-none"></div>
        </div>
    </div>
</div>
{% endblock body %}